:root {
    --padding-main: 16px;
    --primary-color: #DFF8EB;
    --secondary-color: #000;
    --terziary-color: #fff;
    --border-standard: 1px solid black;

}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    margin:0;
    text-align: center;

}

header,
footer {
    
    color: var(--secondary-color);
    padding: var(--padding-main);
    

}

h1 {
    font-size: calc(2rem + 2vw);
    font-style: oblique; 
    font-weight: bold;
  
}

h3 {
    text-align: center;
    font-size: calc(1rem + 1vw);
    font-style: oblique; 
    font-weight: bold;
}

section {
    flex-grow: 1;
}
.buttons-field {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: calc( 1.5rem + 1.5vw);
}

button {
    background-color: #f7f7ff;
    border: var(--border-standard);
    border-radius: 10px;
    font-weight: bold;
    margin: 1rem;
    min-width: calc( 100px - 1.5vw);
    padding: 0.5rem;
    text-align: center;
    text-decoration: none; 
    transition: all linear 0.4s; 
}

/**/
.grid-display-colours {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    margin: 5% 10%;
}    

.box {
    border: 3px solid black;
    border-radius: 50px;
    min-height: 50px;
    padding: 12px;
    margin-bottom: 16px;
    
}

.box:hover {
    transform: scale(1.1);
}
.red {
    background-color: red;
}

.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}
.pink {
    background-color: pink;
}
.black {
    background-color: black;
}
.white {
    background-color: white;
}

.messages-field {
    background-color: var(--terziary-color);
    border: var(--border-standard);
    border-radius: 10px;
    min-height: 300px;
    margin-left: var(--padding-main);
    margin-right: var(--padding-main);
}

@media screen and (min-width: 768px){
    
    .grid-announcements {
      padding: 28px;
    }
    .box {
        min-height: 78px;
    }
}

@media screen and (min-width: 1024px) {

    .grid-announcements {
      padding: 40px;
    }
    .box {
        min-height: 100px;
    }
}


